.concert-card {
  border: 1px solid;
  overflow: hidden;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
}

.change-input {
  margin-right: 15px;
}

.search-filter-bar {
  margin-bottom: 20px;
}

.venues-filter {
  padding-left: 20px;
}
