.concert-card {
  border: 1px solid;
  overflow: hidden;
  min-height: 150px;
  padding: 10px;
  margin-bottom: 10px;
}

.change-input {
  margin-right: 25px;
}

.search-filter-bar {
  margin: 20px 0px;
}

.venues-filter {
  padding: 20px;
}

.venue-text,
.city-text,
.search-btn,
.filter-btn,
.search-input,
.filter-input {
  margin-left: 5px;
}

.venue-filter-btn {
  float: left; 
  font-size: 22px;
}

.search-filter-reset {
  float: right;
}

.wide-btn {
	width: 100%;
	margin-bottom: 15px;
}

.search-label {
	margin-right: 10px;
}
